# Faker
- 가상 데이터 생성

In [ ]:
# !pip install faker

Collecting faker
  Downloading faker-37.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in c:\users\playdata\anaconda3\envs\pystudy_env\lib\site-packages (from faker) (2025.1)
Downloading faker-37.1.0-py3-none-any.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 1.9/1.9 MB 21.0 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.1.0

In [22]:
from faker import Faker

fake = Faker()

print(fake.name())
print(fake.first_name() + "," + fake.last_name())
print(fake.email())
print(fake.company())
print(fake.date_of_birth(minimum_age=19, maximum_age=90))

Mrs. Deanna Peters MD
Kelly,Nguyen
griffithjoanna@example.org
Marquez-Bryant
1971-12-27

In [23]:
import pandas as pd
import random

fake = Faker()

def generate_customer_data(n=1000):
    data = []

    for _ in range(n):
        age = fake.random_int(min=19, max=60)
        sub_months = fake.random_int(min=1, max=120)
        monthly_payment = round(random.uniform(10, 100), 2)
        usage_frequency = fake.random_int(min=1, max=30)
        stft_score = fake.random_int(min=1, max=5)
        churn = fake.boolean(chance_of_getting_true=30)

        data.append([
            age, sub_months, monthly_payment, usage_frequency, stft_score, churn
        ])

    columns = ["AGE", "SUB_MONTHS", "MONTHLY_PAYMENT", "USAGE_FEQ", "STFT", "CHURN"]

    return pd.DataFrame(data, columns=columns)

In [24]:
customer_df = generate_customer_data(200000)
customer_df

        AGE  SUB_MONTHS  MONTHLY_PAYMENT  USAGE_FEQ  STFT  CHURN
0        52          33            85.42          7     1  False
1        38          61            59.85          6     2   True
2        38          73            41.34         15     4  False
3        47          32            74.11         16     1   True
4        26          29            17.86          1     1  False
...     ...         ...              ...        ...   ...    ...
199995   32          82            84.26         27     1   True
199996   60          23            21.77         22     5   True
199997   52          58            30.91          1     2  False
199998   28          18            74.96         24     5  False
199999   50          37            54.92          6     2  False

[200000 rows x 6 columns]

In [25]:
customer_df.to_csv('customer_data.csv', index=False)